<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cuGenerarInformes.Properties.Settings.sgmproConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=sgmpro;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>