<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cuAbmFactura.Properties.Settings.sgmproConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=sgmpro;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>