<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sgmpro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <sgmpro.Properties.Settings>
            <setting name="Conexion" serializeAs="String">
              <value>Data Source=localhost\SQLEXPRESS;Initial Catalog=sgmpro;Integrated Security=true</value>
            </setting>
            <setting name="LastUser" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="UtilizarUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Sgmpro</value>
            </setting>
            <setting name="Nombre" serializeAs="String">
                <value>SgmPro2</value>
            </setting>
            <setting name="Titulo" serializeAs="String">
                <value>SgmPro 2 - Estudio Alamo &amp; Asociados</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>2.1.0.0 - 20120827</value>
            </setting>
        </sgmpro.Properties.Settings>
    </applicationSettings>
</configuration>